
body {
    display: flex;
    background-image: url(/pics/tq.jpeg);
    background-size:  cover;
    backgtound-repeat: repeat;
    
    
}

.tapa {

    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 96px;
    text-align:center;
    vertical-align: middle;
 


}